<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/csBot.css">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <title>home</title>
</head>

<body>
<!-- connect_wrap -->
<div id="connect_wrap">
  <div class="connect_top">
    <div>
      <button type="button" class="chevron_prev text_hide hide">이전으로 가기</button>
      <div class="title">
        <div class="mainlogo"><img src="/image/connectus_BI.png" alt="커넥트 어스 로고"></div>
      </div>
    </div>
  </div>
  <!-- //connect_top -->
  <div id="content" style="text-align: center">
    <br><br><br><br><br>
    <img src="/image/ready.png" width="80%" height="50%" alt="에러로고">
    <!-- //home_screen -->
  </div>
  <!-- //content -->
  <!-- //connect_btm -->
</div>
<!-- //connect_wrap -->

</body>

</html>
